<div class="map-wrapper">
    <div class="autocomplete-container">
        <div class="input-wrapper">
            <input
                #autocompleteInput
                type="text"
                placeholder="Search places..."
                class="autocomplete-input"
            />
            <button
                mat-icon-button
                class="clear-button"
                (click)="clearAutocompleteInput()"
                type="button"
                aria-label="Clear search"
            >
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </div>

    <google-map
        height="100%"
        width="100%"
        [center]="center()"
        [zoom]="zoom()"
        [options]="mapOptions()"
        (mapInitialized)="onMapInitialized($event)"
    >
        @if (selectedPlace()) {
            <map-advanced-marker [position]="selectedPlace()!" [options]="markerOptions()">
            </map-advanced-marker>
        }
    </google-map>
</div>
